.w0 {
  width: 0px;
}

.w1 {
  width: 1px;
}

.w2 {
  width: 2px;
}

.w3 {
  width: 3px;
}

.w4 {
  width: 4px;
}

.w5 {
  width: 5px;
}

.w6 {
  width: 6px;
}

.w7 {
  width: 7px;
}

.w8 {
  width: 8px;
}

.w9 {
  width: 9px;
}

.w10 {
  width: 10px;
}

.w11 {
  width: 11px;
}

.w12 {
  width: 12px;
}

.w13 {
  width: 13px;
}

.w14 {
  width: 14px;
}

.w15 {
  width: 15px;
}

.w16 {
  width: 16px;
}

.w17 {
  width: 17px;
}

.w18 {
  width: 18px;
}

.w19 {
  width: 19px;
}

.w20 {
  width: 20px;
}

.w21 {
  width: 21px;
}

.w22 {
  width: 22px;
}

.w23 {
  width: 23px;
}

.w24 {
  width: 24px;
}

.w25 {
  width: 25px;
}

.w26 {
  width: 26px;
}

.w27 {
  width: 27px;
}

.w28 {
  width: 28px;
}

.w29 {
  width: 29px;
}

.w30 {
  width: 30px;
}

.w31 {
  width: 31px;
}

.w32 {
  width: 32px;
}

.w33 {
  width: 33px;
}

.w34 {
  width: 34px;
}

.w35 {
  width: 35px;
}

.w36 {
  width: 36px;
}

.w37 {
  width: 37px;
}

.w38 {
  width: 38px;
}

.w39 {
  width: 39px;
}

.w40 {
  width: 40px;
}

.w41 {
  width: 41px;
}

.w42 {
  width: 42px;
}

.w43 {
  width: 43px;
}

.w44 {
  width: 44px;
}

.w45 {
  width: 45px;
}

.w46 {
  width: 46px;
}

.w47 {
  width: 47px;
}

.w48 {
  width: 48px;
}

.w49 {
  width: 49px;
}

.w50 {
  width: 50px;
}

.w51 {
  width: 51px;
}

.w52 {
  width: 52px;
}

.w53 {
  width: 53px;
}

.w54 {
  width: 54px;
}

.w55 {
  width: 55px;
}

.w56 {
  width: 56px;
}

.w57 {
  width: 57px;
}

.w58 {
  width: 58px;
}

.w59 {
  width: 59px;
}

.w60 {
  width: 60px;
}

.w61 {
  width: 61px;
}

.w62 {
  width: 62px;
}

.w63 {
  width: 63px;
}

.w64 {
  width: 64px;
}

.w65 {
  width: 65px;
}

.w66 {
  width: 66px;
}

.w67 {
  width: 67px;
}

.w68 {
  width: 68px;
}

.w69 {
  width: 69px;
}

.w70 {
  width: 70px;
}

.w71 {
  width: 71px;
}

.w72 {
  width: 72px;
}

.w73 {
  width: 73px;
}

.w74 {
  width: 74px;
}

.w75 {
  width: 75px;
}

.w76 {
  width: 76px;
}

.w77 {
  width: 77px;
}

.w78 {
  width: 78px;
}

.w79 {
  width: 79px;
}

.w80 {
  width: 80px;
}

.w81 {
  width: 81px;
}

.w82 {
  width: 82px;
}

.w83 {
  width: 83px;
}

.w84 {
  width: 84px;
}

.w85 {
  width: 85px;
}

.w86 {
  width: 86px;
}

.w87 {
  width: 87px;
}

.w88 {
  width: 88px;
}

.w89 {
  width: 89px;
}

.w90 {
  width: 90px;
}

.w91 {
  width: 91px;
}

.w92 {
  width: 92px;
}

.w93 {
  width: 93px;
}

.w94 {
  width: 94px;
}

.w95 {
  width: 95px;
}

.w96 {
  width: 96px;
}

.w97 {
  width: 97px;
}

.w98 {
  width: 98px;
}

.w99 {
  width: 99px;
}

.w100 {
  width: 100px;
}

@media (min-width: 0px) {
  .ws0 {
    width: 0px;
  }
}
@media (min-width: 0px) {
  .ws1 {
    width: 1px;
  }
}
@media (min-width: 0px) {
  .ws2 {
    width: 2px;
  }
}
@media (min-width: 0px) {
  .ws3 {
    width: 3px;
  }
}
@media (min-width: 0px) {
  .ws4 {
    width: 4px;
  }
}
@media (min-width: 0px) {
  .ws5 {
    width: 5px;
  }
}
@media (min-width: 0px) {
  .ws6 {
    width: 6px;
  }
}
@media (min-width: 0px) {
  .ws7 {
    width: 7px;
  }
}
@media (min-width: 0px) {
  .ws8 {
    width: 8px;
  }
}
@media (min-width: 0px) {
  .ws9 {
    width: 9px;
  }
}
@media (min-width: 0px) {
  .ws10 {
    width: 10px;
  }
}
@media (min-width: 0px) {
  .ws11 {
    width: 11px;
  }
}
@media (min-width: 0px) {
  .ws12 {
    width: 12px;
  }
}
@media (min-width: 0px) {
  .ws13 {
    width: 13px;
  }
}
@media (min-width: 0px) {
  .ws14 {
    width: 14px;
  }
}
@media (min-width: 0px) {
  .ws15 {
    width: 15px;
  }
}
@media (min-width: 0px) {
  .ws16 {
    width: 16px;
  }
}
@media (min-width: 0px) {
  .ws17 {
    width: 17px;
  }
}
@media (min-width: 0px) {
  .ws18 {
    width: 18px;
  }
}
@media (min-width: 0px) {
  .ws19 {
    width: 19px;
  }
}
@media (min-width: 0px) {
  .ws20 {
    width: 20px;
  }
}
@media (min-width: 0px) {
  .ws21 {
    width: 21px;
  }
}
@media (min-width: 0px) {
  .ws22 {
    width: 22px;
  }
}
@media (min-width: 0px) {
  .ws23 {
    width: 23px;
  }
}
@media (min-width: 0px) {
  .ws24 {
    width: 24px;
  }
}
@media (min-width: 0px) {
  .ws25 {
    width: 25px;
  }
}
@media (min-width: 0px) {
  .ws26 {
    width: 26px;
  }
}
@media (min-width: 0px) {
  .ws27 {
    width: 27px;
  }
}
@media (min-width: 0px) {
  .ws28 {
    width: 28px;
  }
}
@media (min-width: 0px) {
  .ws29 {
    width: 29px;
  }
}
@media (min-width: 0px) {
  .ws30 {
    width: 30px;
  }
}
@media (min-width: 0px) {
  .ws31 {
    width: 31px;
  }
}
@media (min-width: 0px) {
  .ws32 {
    width: 32px;
  }
}
@media (min-width: 0px) {
  .ws33 {
    width: 33px;
  }
}
@media (min-width: 0px) {
  .ws34 {
    width: 34px;
  }
}
@media (min-width: 0px) {
  .ws35 {
    width: 35px;
  }
}
@media (min-width: 0px) {
  .ws36 {
    width: 36px;
  }
}
@media (min-width: 0px) {
  .ws37 {
    width: 37px;
  }
}
@media (min-width: 0px) {
  .ws38 {
    width: 38px;
  }
}
@media (min-width: 0px) {
  .ws39 {
    width: 39px;
  }
}
@media (min-width: 0px) {
  .ws40 {
    width: 40px;
  }
}
@media (min-width: 0px) {
  .ws41 {
    width: 41px;
  }
}
@media (min-width: 0px) {
  .ws42 {
    width: 42px;
  }
}
@media (min-width: 0px) {
  .ws43 {
    width: 43px;
  }
}
@media (min-width: 0px) {
  .ws44 {
    width: 44px;
  }
}
@media (min-width: 0px) {
  .ws45 {
    width: 45px;
  }
}
@media (min-width: 0px) {
  .ws46 {
    width: 46px;
  }
}
@media (min-width: 0px) {
  .ws47 {
    width: 47px;
  }
}
@media (min-width: 0px) {
  .ws48 {
    width: 48px;
  }
}
@media (min-width: 0px) {
  .ws49 {
    width: 49px;
  }
}
@media (min-width: 0px) {
  .ws50 {
    width: 50px;
  }
}
@media (min-width: 0px) {
  .ws51 {
    width: 51px;
  }
}
@media (min-width: 0px) {
  .ws52 {
    width: 52px;
  }
}
@media (min-width: 0px) {
  .ws53 {
    width: 53px;
  }
}
@media (min-width: 0px) {
  .ws54 {
    width: 54px;
  }
}
@media (min-width: 0px) {
  .ws55 {
    width: 55px;
  }
}
@media (min-width: 0px) {
  .ws56 {
    width: 56px;
  }
}
@media (min-width: 0px) {
  .ws57 {
    width: 57px;
  }
}
@media (min-width: 0px) {
  .ws58 {
    width: 58px;
  }
}
@media (min-width: 0px) {
  .ws59 {
    width: 59px;
  }
}
@media (min-width: 0px) {
  .ws60 {
    width: 60px;
  }
}
@media (min-width: 0px) {
  .ws61 {
    width: 61px;
  }
}
@media (min-width: 0px) {
  .ws62 {
    width: 62px;
  }
}
@media (min-width: 0px) {
  .ws63 {
    width: 63px;
  }
}
@media (min-width: 0px) {
  .ws64 {
    width: 64px;
  }
}
@media (min-width: 0px) {
  .ws65 {
    width: 65px;
  }
}
@media (min-width: 0px) {
  .ws66 {
    width: 66px;
  }
}
@media (min-width: 0px) {
  .ws67 {
    width: 67px;
  }
}
@media (min-width: 0px) {
  .ws68 {
    width: 68px;
  }
}
@media (min-width: 0px) {
  .ws69 {
    width: 69px;
  }
}
@media (min-width: 0px) {
  .ws70 {
    width: 70px;
  }
}
@media (min-width: 0px) {
  .ws71 {
    width: 71px;
  }
}
@media (min-width: 0px) {
  .ws72 {
    width: 72px;
  }
}
@media (min-width: 0px) {
  .ws73 {
    width: 73px;
  }
}
@media (min-width: 0px) {
  .ws74 {
    width: 74px;
  }
}
@media (min-width: 0px) {
  .ws75 {
    width: 75px;
  }
}
@media (min-width: 0px) {
  .ws76 {
    width: 76px;
  }
}
@media (min-width: 0px) {
  .ws77 {
    width: 77px;
  }
}
@media (min-width: 0px) {
  .ws78 {
    width: 78px;
  }
}
@media (min-width: 0px) {
  .ws79 {
    width: 79px;
  }
}
@media (min-width: 0px) {
  .ws80 {
    width: 80px;
  }
}
@media (min-width: 0px) {
  .ws81 {
    width: 81px;
  }
}
@media (min-width: 0px) {
  .ws82 {
    width: 82px;
  }
}
@media (min-width: 0px) {
  .ws83 {
    width: 83px;
  }
}
@media (min-width: 0px) {
  .ws84 {
    width: 84px;
  }
}
@media (min-width: 0px) {
  .ws85 {
    width: 85px;
  }
}
@media (min-width: 0px) {
  .ws86 {
    width: 86px;
  }
}
@media (min-width: 0px) {
  .ws87 {
    width: 87px;
  }
}
@media (min-width: 0px) {
  .ws88 {
    width: 88px;
  }
}
@media (min-width: 0px) {
  .ws89 {
    width: 89px;
  }
}
@media (min-width: 0px) {
  .ws90 {
    width: 90px;
  }
}
@media (min-width: 0px) {
  .ws91 {
    width: 91px;
  }
}
@media (min-width: 0px) {
  .ws92 {
    width: 92px;
  }
}
@media (min-width: 0px) {
  .ws93 {
    width: 93px;
  }
}
@media (min-width: 0px) {
  .ws94 {
    width: 94px;
  }
}
@media (min-width: 0px) {
  .ws95 {
    width: 95px;
  }
}
@media (min-width: 0px) {
  .ws96 {
    width: 96px;
  }
}
@media (min-width: 0px) {
  .ws97 {
    width: 97px;
  }
}
@media (min-width: 0px) {
  .ws98 {
    width: 98px;
  }
}
@media (min-width: 0px) {
  .ws99 {
    width: 99px;
  }
}
@media (min-width: 0px) {
  .ws100 {
    width: 100px;
  }
}
@media (min-width: 800px) {
  .wm0 {
    width: 0px;
  }
}
@media (min-width: 800px) {
  .wm1 {
    width: 1px;
  }
}
@media (min-width: 800px) {
  .wm2 {
    width: 2px;
  }
}
@media (min-width: 800px) {
  .wm3 {
    width: 3px;
  }
}
@media (min-width: 800px) {
  .wm4 {
    width: 4px;
  }
}
@media (min-width: 800px) {
  .wm5 {
    width: 5px;
  }
}
@media (min-width: 800px) {
  .wm6 {
    width: 6px;
  }
}
@media (min-width: 800px) {
  .wm7 {
    width: 7px;
  }
}
@media (min-width: 800px) {
  .wm8 {
    width: 8px;
  }
}
@media (min-width: 800px) {
  .wm9 {
    width: 9px;
  }
}
@media (min-width: 800px) {
  .wm10 {
    width: 10px;
  }
}
@media (min-width: 800px) {
  .wm11 {
    width: 11px;
  }
}
@media (min-width: 800px) {
  .wm12 {
    width: 12px;
  }
}
@media (min-width: 800px) {
  .wm13 {
    width: 13px;
  }
}
@media (min-width: 800px) {
  .wm14 {
    width: 14px;
  }
}
@media (min-width: 800px) {
  .wm15 {
    width: 15px;
  }
}
@media (min-width: 800px) {
  .wm16 {
    width: 16px;
  }
}
@media (min-width: 800px) {
  .wm17 {
    width: 17px;
  }
}
@media (min-width: 800px) {
  .wm18 {
    width: 18px;
  }
}
@media (min-width: 800px) {
  .wm19 {
    width: 19px;
  }
}
@media (min-width: 800px) {
  .wm20 {
    width: 20px;
  }
}
@media (min-width: 800px) {
  .wm21 {
    width: 21px;
  }
}
@media (min-width: 800px) {
  .wm22 {
    width: 22px;
  }
}
@media (min-width: 800px) {
  .wm23 {
    width: 23px;
  }
}
@media (min-width: 800px) {
  .wm24 {
    width: 24px;
  }
}
@media (min-width: 800px) {
  .wm25 {
    width: 25px;
  }
}
@media (min-width: 800px) {
  .wm26 {
    width: 26px;
  }
}
@media (min-width: 800px) {
  .wm27 {
    width: 27px;
  }
}
@media (min-width: 800px) {
  .wm28 {
    width: 28px;
  }
}
@media (min-width: 800px) {
  .wm29 {
    width: 29px;
  }
}
@media (min-width: 800px) {
  .wm30 {
    width: 30px;
  }
}
@media (min-width: 800px) {
  .wm31 {
    width: 31px;
  }
}
@media (min-width: 800px) {
  .wm32 {
    width: 32px;
  }
}
@media (min-width: 800px) {
  .wm33 {
    width: 33px;
  }
}
@media (min-width: 800px) {
  .wm34 {
    width: 34px;
  }
}
@media (min-width: 800px) {
  .wm35 {
    width: 35px;
  }
}
@media (min-width: 800px) {
  .wm36 {
    width: 36px;
  }
}
@media (min-width: 800px) {
  .wm37 {
    width: 37px;
  }
}
@media (min-width: 800px) {
  .wm38 {
    width: 38px;
  }
}
@media (min-width: 800px) {
  .wm39 {
    width: 39px;
  }
}
@media (min-width: 800px) {
  .wm40 {
    width: 40px;
  }
}
@media (min-width: 800px) {
  .wm41 {
    width: 41px;
  }
}
@media (min-width: 800px) {
  .wm42 {
    width: 42px;
  }
}
@media (min-width: 800px) {
  .wm43 {
    width: 43px;
  }
}
@media (min-width: 800px) {
  .wm44 {
    width: 44px;
  }
}
@media (min-width: 800px) {
  .wm45 {
    width: 45px;
  }
}
@media (min-width: 800px) {
  .wm46 {
    width: 46px;
  }
}
@media (min-width: 800px) {
  .wm47 {
    width: 47px;
  }
}
@media (min-width: 800px) {
  .wm48 {
    width: 48px;
  }
}
@media (min-width: 800px) {
  .wm49 {
    width: 49px;
  }
}
@media (min-width: 800px) {
  .wm50 {
    width: 50px;
  }
}
@media (min-width: 800px) {
  .wm51 {
    width: 51px;
  }
}
@media (min-width: 800px) {
  .wm52 {
    width: 52px;
  }
}
@media (min-width: 800px) {
  .wm53 {
    width: 53px;
  }
}
@media (min-width: 800px) {
  .wm54 {
    width: 54px;
  }
}
@media (min-width: 800px) {
  .wm55 {
    width: 55px;
  }
}
@media (min-width: 800px) {
  .wm56 {
    width: 56px;
  }
}
@media (min-width: 800px) {
  .wm57 {
    width: 57px;
  }
}
@media (min-width: 800px) {
  .wm58 {
    width: 58px;
  }
}
@media (min-width: 800px) {
  .wm59 {
    width: 59px;
  }
}
@media (min-width: 800px) {
  .wm60 {
    width: 60px;
  }
}
@media (min-width: 800px) {
  .wm61 {
    width: 61px;
  }
}
@media (min-width: 800px) {
  .wm62 {
    width: 62px;
  }
}
@media (min-width: 800px) {
  .wm63 {
    width: 63px;
  }
}
@media (min-width: 800px) {
  .wm64 {
    width: 64px;
  }
}
@media (min-width: 800px) {
  .wm65 {
    width: 65px;
  }
}
@media (min-width: 800px) {
  .wm66 {
    width: 66px;
  }
}
@media (min-width: 800px) {
  .wm67 {
    width: 67px;
  }
}
@media (min-width: 800px) {
  .wm68 {
    width: 68px;
  }
}
@media (min-width: 800px) {
  .wm69 {
    width: 69px;
  }
}
@media (min-width: 800px) {
  .wm70 {
    width: 70px;
  }
}
@media (min-width: 800px) {
  .wm71 {
    width: 71px;
  }
}
@media (min-width: 800px) {
  .wm72 {
    width: 72px;
  }
}
@media (min-width: 800px) {
  .wm73 {
    width: 73px;
  }
}
@media (min-width: 800px) {
  .wm74 {
    width: 74px;
  }
}
@media (min-width: 800px) {
  .wm75 {
    width: 75px;
  }
}
@media (min-width: 800px) {
  .wm76 {
    width: 76px;
  }
}
@media (min-width: 800px) {
  .wm77 {
    width: 77px;
  }
}
@media (min-width: 800px) {
  .wm78 {
    width: 78px;
  }
}
@media (min-width: 800px) {
  .wm79 {
    width: 79px;
  }
}
@media (min-width: 800px) {
  .wm80 {
    width: 80px;
  }
}
@media (min-width: 800px) {
  .wm81 {
    width: 81px;
  }
}
@media (min-width: 800px) {
  .wm82 {
    width: 82px;
  }
}
@media (min-width: 800px) {
  .wm83 {
    width: 83px;
  }
}
@media (min-width: 800px) {
  .wm84 {
    width: 84px;
  }
}
@media (min-width: 800px) {
  .wm85 {
    width: 85px;
  }
}
@media (min-width: 800px) {
  .wm86 {
    width: 86px;
  }
}
@media (min-width: 800px) {
  .wm87 {
    width: 87px;
  }
}
@media (min-width: 800px) {
  .wm88 {
    width: 88px;
  }
}
@media (min-width: 800px) {
  .wm89 {
    width: 89px;
  }
}
@media (min-width: 800px) {
  .wm90 {
    width: 90px;
  }
}
@media (min-width: 800px) {
  .wm91 {
    width: 91px;
  }
}
@media (min-width: 800px) {
  .wm92 {
    width: 92px;
  }
}
@media (min-width: 800px) {
  .wm93 {
    width: 93px;
  }
}
@media (min-width: 800px) {
  .wm94 {
    width: 94px;
  }
}
@media (min-width: 800px) {
  .wm95 {
    width: 95px;
  }
}
@media (min-width: 800px) {
  .wm96 {
    width: 96px;
  }
}
@media (min-width: 800px) {
  .wm97 {
    width: 97px;
  }
}
@media (min-width: 800px) {
  .wm98 {
    width: 98px;
  }
}
@media (min-width: 800px) {
  .wm99 {
    width: 99px;
  }
}
@media (min-width: 800px) {
  .wm100 {
    width: 100px;
  }
}
@media (min-width: 1200px) {
  .wl0 {
    width: 0px;
  }
}
@media (min-width: 1200px) {
  .wl1 {
    width: 1px;
  }
}
@media (min-width: 1200px) {
  .wl2 {
    width: 2px;
  }
}
@media (min-width: 1200px) {
  .wl3 {
    width: 3px;
  }
}
@media (min-width: 1200px) {
  .wl4 {
    width: 4px;
  }
}
@media (min-width: 1200px) {
  .wl5 {
    width: 5px;
  }
}
@media (min-width: 1200px) {
  .wl6 {
    width: 6px;
  }
}
@media (min-width: 1200px) {
  .wl7 {
    width: 7px;
  }
}
@media (min-width: 1200px) {
  .wl8 {
    width: 8px;
  }
}
@media (min-width: 1200px) {
  .wl9 {
    width: 9px;
  }
}
@media (min-width: 1200px) {
  .wl10 {
    width: 10px;
  }
}
@media (min-width: 1200px) {
  .wl11 {
    width: 11px;
  }
}
@media (min-width: 1200px) {
  .wl12 {
    width: 12px;
  }
}
@media (min-width: 1200px) {
  .wl13 {
    width: 13px;
  }
}
@media (min-width: 1200px) {
  .wl14 {
    width: 14px;
  }
}
@media (min-width: 1200px) {
  .wl15 {
    width: 15px;
  }
}
@media (min-width: 1200px) {
  .wl16 {
    width: 16px;
  }
}
@media (min-width: 1200px) {
  .wl17 {
    width: 17px;
  }
}
@media (min-width: 1200px) {
  .wl18 {
    width: 18px;
  }
}
@media (min-width: 1200px) {
  .wl19 {
    width: 19px;
  }
}
@media (min-width: 1200px) {
  .wl20 {
    width: 20px;
  }
}
@media (min-width: 1200px) {
  .wl21 {
    width: 21px;
  }
}
@media (min-width: 1200px) {
  .wl22 {
    width: 22px;
  }
}
@media (min-width: 1200px) {
  .wl23 {
    width: 23px;
  }
}
@media (min-width: 1200px) {
  .wl24 {
    width: 24px;
  }
}
@media (min-width: 1200px) {
  .wl25 {
    width: 25px;
  }
}
@media (min-width: 1200px) {
  .wl26 {
    width: 26px;
  }
}
@media (min-width: 1200px) {
  .wl27 {
    width: 27px;
  }
}
@media (min-width: 1200px) {
  .wl28 {
    width: 28px;
  }
}
@media (min-width: 1200px) {
  .wl29 {
    width: 29px;
  }
}
@media (min-width: 1200px) {
  .wl30 {
    width: 30px;
  }
}
@media (min-width: 1200px) {
  .wl31 {
    width: 31px;
  }
}
@media (min-width: 1200px) {
  .wl32 {
    width: 32px;
  }
}
@media (min-width: 1200px) {
  .wl33 {
    width: 33px;
  }
}
@media (min-width: 1200px) {
  .wl34 {
    width: 34px;
  }
}
@media (min-width: 1200px) {
  .wl35 {
    width: 35px;
  }
}
@media (min-width: 1200px) {
  .wl36 {
    width: 36px;
  }
}
@media (min-width: 1200px) {
  .wl37 {
    width: 37px;
  }
}
@media (min-width: 1200px) {
  .wl38 {
    width: 38px;
  }
}
@media (min-width: 1200px) {
  .wl39 {
    width: 39px;
  }
}
@media (min-width: 1200px) {
  .wl40 {
    width: 40px;
  }
}
@media (min-width: 1200px) {
  .wl41 {
    width: 41px;
  }
}
@media (min-width: 1200px) {
  .wl42 {
    width: 42px;
  }
}
@media (min-width: 1200px) {
  .wl43 {
    width: 43px;
  }
}
@media (min-width: 1200px) {
  .wl44 {
    width: 44px;
  }
}
@media (min-width: 1200px) {
  .wl45 {
    width: 45px;
  }
}
@media (min-width: 1200px) {
  .wl46 {
    width: 46px;
  }
}
@media (min-width: 1200px) {
  .wl47 {
    width: 47px;
  }
}
@media (min-width: 1200px) {
  .wl48 {
    width: 48px;
  }
}
@media (min-width: 1200px) {
  .wl49 {
    width: 49px;
  }
}
@media (min-width: 1200px) {
  .wl50 {
    width: 50px;
  }
}
@media (min-width: 1200px) {
  .wl51 {
    width: 51px;
  }
}
@media (min-width: 1200px) {
  .wl52 {
    width: 52px;
  }
}
@media (min-width: 1200px) {
  .wl53 {
    width: 53px;
  }
}
@media (min-width: 1200px) {
  .wl54 {
    width: 54px;
  }
}
@media (min-width: 1200px) {
  .wl55 {
    width: 55px;
  }
}
@media (min-width: 1200px) {
  .wl56 {
    width: 56px;
  }
}
@media (min-width: 1200px) {
  .wl57 {
    width: 57px;
  }
}
@media (min-width: 1200px) {
  .wl58 {
    width: 58px;
  }
}
@media (min-width: 1200px) {
  .wl59 {
    width: 59px;
  }
}
@media (min-width: 1200px) {
  .wl60 {
    width: 60px;
  }
}
@media (min-width: 1200px) {
  .wl61 {
    width: 61px;
  }
}
@media (min-width: 1200px) {
  .wl62 {
    width: 62px;
  }
}
@media (min-width: 1200px) {
  .wl63 {
    width: 63px;
  }
}
@media (min-width: 1200px) {
  .wl64 {
    width: 64px;
  }
}
@media (min-width: 1200px) {
  .wl65 {
    width: 65px;
  }
}
@media (min-width: 1200px) {
  .wl66 {
    width: 66px;
  }
}
@media (min-width: 1200px) {
  .wl67 {
    width: 67px;
  }
}
@media (min-width: 1200px) {
  .wl68 {
    width: 68px;
  }
}
@media (min-width: 1200px) {
  .wl69 {
    width: 69px;
  }
}
@media (min-width: 1200px) {
  .wl70 {
    width: 70px;
  }
}
@media (min-width: 1200px) {
  .wl71 {
    width: 71px;
  }
}
@media (min-width: 1200px) {
  .wl72 {
    width: 72px;
  }
}
@media (min-width: 1200px) {
  .wl73 {
    width: 73px;
  }
}
@media (min-width: 1200px) {
  .wl74 {
    width: 74px;
  }
}
@media (min-width: 1200px) {
  .wl75 {
    width: 75px;
  }
}
@media (min-width: 1200px) {
  .wl76 {
    width: 76px;
  }
}
@media (min-width: 1200px) {
  .wl77 {
    width: 77px;
  }
}
@media (min-width: 1200px) {
  .wl78 {
    width: 78px;
  }
}
@media (min-width: 1200px) {
  .wl79 {
    width: 79px;
  }
}
@media (min-width: 1200px) {
  .wl80 {
    width: 80px;
  }
}
@media (min-width: 1200px) {
  .wl81 {
    width: 81px;
  }
}
@media (min-width: 1200px) {
  .wl82 {
    width: 82px;
  }
}
@media (min-width: 1200px) {
  .wl83 {
    width: 83px;
  }
}
@media (min-width: 1200px) {
  .wl84 {
    width: 84px;
  }
}
@media (min-width: 1200px) {
  .wl85 {
    width: 85px;
  }
}
@media (min-width: 1200px) {
  .wl86 {
    width: 86px;
  }
}
@media (min-width: 1200px) {
  .wl87 {
    width: 87px;
  }
}
@media (min-width: 1200px) {
  .wl88 {
    width: 88px;
  }
}
@media (min-width: 1200px) {
  .wl89 {
    width: 89px;
  }
}
@media (min-width: 1200px) {
  .wl90 {
    width: 90px;
  }
}
@media (min-width: 1200px) {
  .wl91 {
    width: 91px;
  }
}
@media (min-width: 1200px) {
  .wl92 {
    width: 92px;
  }
}
@media (min-width: 1200px) {
  .wl93 {
    width: 93px;
  }
}
@media (min-width: 1200px) {
  .wl94 {
    width: 94px;
  }
}
@media (min-width: 1200px) {
  .wl95 {
    width: 95px;
  }
}
@media (min-width: 1200px) {
  .wl96 {
    width: 96px;
  }
}
@media (min-width: 1200px) {
  .wl97 {
    width: 97px;
  }
}
@media (min-width: 1200px) {
  .wl98 {
    width: 98px;
  }
}
@media (min-width: 1200px) {
  .wl99 {
    width: 99px;
  }
}
@media (min-width: 1200px) {
  .wl100 {
    width: 100px;
  }
}
@media (min-width: 1400px) {
  .wx0 {
    width: 0px;
  }
}
@media (min-width: 1400px) {
  .wx1 {
    width: 1px;
  }
}
@media (min-width: 1400px) {
  .wx2 {
    width: 2px;
  }
}
@media (min-width: 1400px) {
  .wx3 {
    width: 3px;
  }
}
@media (min-width: 1400px) {
  .wx4 {
    width: 4px;
  }
}
@media (min-width: 1400px) {
  .wx5 {
    width: 5px;
  }
}
@media (min-width: 1400px) {
  .wx6 {
    width: 6px;
  }
}
@media (min-width: 1400px) {
  .wx7 {
    width: 7px;
  }
}
@media (min-width: 1400px) {
  .wx8 {
    width: 8px;
  }
}
@media (min-width: 1400px) {
  .wx9 {
    width: 9px;
  }
}
@media (min-width: 1400px) {
  .wx10 {
    width: 10px;
  }
}
@media (min-width: 1400px) {
  .wx11 {
    width: 11px;
  }
}
@media (min-width: 1400px) {
  .wx12 {
    width: 12px;
  }
}
@media (min-width: 1400px) {
  .wx13 {
    width: 13px;
  }
}
@media (min-width: 1400px) {
  .wx14 {
    width: 14px;
  }
}
@media (min-width: 1400px) {
  .wx15 {
    width: 15px;
  }
}
@media (min-width: 1400px) {
  .wx16 {
    width: 16px;
  }
}
@media (min-width: 1400px) {
  .wx17 {
    width: 17px;
  }
}
@media (min-width: 1400px) {
  .wx18 {
    width: 18px;
  }
}
@media (min-width: 1400px) {
  .wx19 {
    width: 19px;
  }
}
@media (min-width: 1400px) {
  .wx20 {
    width: 20px;
  }
}
@media (min-width: 1400px) {
  .wx21 {
    width: 21px;
  }
}
@media (min-width: 1400px) {
  .wx22 {
    width: 22px;
  }
}
@media (min-width: 1400px) {
  .wx23 {
    width: 23px;
  }
}
@media (min-width: 1400px) {
  .wx24 {
    width: 24px;
  }
}
@media (min-width: 1400px) {
  .wx25 {
    width: 25px;
  }
}
@media (min-width: 1400px) {
  .wx26 {
    width: 26px;
  }
}
@media (min-width: 1400px) {
  .wx27 {
    width: 27px;
  }
}
@media (min-width: 1400px) {
  .wx28 {
    width: 28px;
  }
}
@media (min-width: 1400px) {
  .wx29 {
    width: 29px;
  }
}
@media (min-width: 1400px) {
  .wx30 {
    width: 30px;
  }
}
@media (min-width: 1400px) {
  .wx31 {
    width: 31px;
  }
}
@media (min-width: 1400px) {
  .wx32 {
    width: 32px;
  }
}
@media (min-width: 1400px) {
  .wx33 {
    width: 33px;
  }
}
@media (min-width: 1400px) {
  .wx34 {
    width: 34px;
  }
}
@media (min-width: 1400px) {
  .wx35 {
    width: 35px;
  }
}
@media (min-width: 1400px) {
  .wx36 {
    width: 36px;
  }
}
@media (min-width: 1400px) {
  .wx37 {
    width: 37px;
  }
}
@media (min-width: 1400px) {
  .wx38 {
    width: 38px;
  }
}
@media (min-width: 1400px) {
  .wx39 {
    width: 39px;
  }
}
@media (min-width: 1400px) {
  .wx40 {
    width: 40px;
  }
}
@media (min-width: 1400px) {
  .wx41 {
    width: 41px;
  }
}
@media (min-width: 1400px) {
  .wx42 {
    width: 42px;
  }
}
@media (min-width: 1400px) {
  .wx43 {
    width: 43px;
  }
}
@media (min-width: 1400px) {
  .wx44 {
    width: 44px;
  }
}
@media (min-width: 1400px) {
  .wx45 {
    width: 45px;
  }
}
@media (min-width: 1400px) {
  .wx46 {
    width: 46px;
  }
}
@media (min-width: 1400px) {
  .wx47 {
    width: 47px;
  }
}
@media (min-width: 1400px) {
  .wx48 {
    width: 48px;
  }
}
@media (min-width: 1400px) {
  .wx49 {
    width: 49px;
  }
}
@media (min-width: 1400px) {
  .wx50 {
    width: 50px;
  }
}
@media (min-width: 1400px) {
  .wx51 {
    width: 51px;
  }
}
@media (min-width: 1400px) {
  .wx52 {
    width: 52px;
  }
}
@media (min-width: 1400px) {
  .wx53 {
    width: 53px;
  }
}
@media (min-width: 1400px) {
  .wx54 {
    width: 54px;
  }
}
@media (min-width: 1400px) {
  .wx55 {
    width: 55px;
  }
}
@media (min-width: 1400px) {
  .wx56 {
    width: 56px;
  }
}
@media (min-width: 1400px) {
  .wx57 {
    width: 57px;
  }
}
@media (min-width: 1400px) {
  .wx58 {
    width: 58px;
  }
}
@media (min-width: 1400px) {
  .wx59 {
    width: 59px;
  }
}
@media (min-width: 1400px) {
  .wx60 {
    width: 60px;
  }
}
@media (min-width: 1400px) {
  .wx61 {
    width: 61px;
  }
}
@media (min-width: 1400px) {
  .wx62 {
    width: 62px;
  }
}
@media (min-width: 1400px) {
  .wx63 {
    width: 63px;
  }
}
@media (min-width: 1400px) {
  .wx64 {
    width: 64px;
  }
}
@media (min-width: 1400px) {
  .wx65 {
    width: 65px;
  }
}
@media (min-width: 1400px) {
  .wx66 {
    width: 66px;
  }
}
@media (min-width: 1400px) {
  .wx67 {
    width: 67px;
  }
}
@media (min-width: 1400px) {
  .wx68 {
    width: 68px;
  }
}
@media (min-width: 1400px) {
  .wx69 {
    width: 69px;
  }
}
@media (min-width: 1400px) {
  .wx70 {
    width: 70px;
  }
}
@media (min-width: 1400px) {
  .wx71 {
    width: 71px;
  }
}
@media (min-width: 1400px) {
  .wx72 {
    width: 72px;
  }
}
@media (min-width: 1400px) {
  .wx73 {
    width: 73px;
  }
}
@media (min-width: 1400px) {
  .wx74 {
    width: 74px;
  }
}
@media (min-width: 1400px) {
  .wx75 {
    width: 75px;
  }
}
@media (min-width: 1400px) {
  .wx76 {
    width: 76px;
  }
}
@media (min-width: 1400px) {
  .wx77 {
    width: 77px;
  }
}
@media (min-width: 1400px) {
  .wx78 {
    width: 78px;
  }
}
@media (min-width: 1400px) {
  .wx79 {
    width: 79px;
  }
}
@media (min-width: 1400px) {
  .wx80 {
    width: 80px;
  }
}
@media (min-width: 1400px) {
  .wx81 {
    width: 81px;
  }
}
@media (min-width: 1400px) {
  .wx82 {
    width: 82px;
  }
}
@media (min-width: 1400px) {
  .wx83 {
    width: 83px;
  }
}
@media (min-width: 1400px) {
  .wx84 {
    width: 84px;
  }
}
@media (min-width: 1400px) {
  .wx85 {
    width: 85px;
  }
}
@media (min-width: 1400px) {
  .wx86 {
    width: 86px;
  }
}
@media (min-width: 1400px) {
  .wx87 {
    width: 87px;
  }
}
@media (min-width: 1400px) {
  .wx88 {
    width: 88px;
  }
}
@media (min-width: 1400px) {
  .wx89 {
    width: 89px;
  }
}
@media (min-width: 1400px) {
  .wx90 {
    width: 90px;
  }
}
@media (min-width: 1400px) {
  .wx91 {
    width: 91px;
  }
}
@media (min-width: 1400px) {
  .wx92 {
    width: 92px;
  }
}
@media (min-width: 1400px) {
  .wx93 {
    width: 93px;
  }
}
@media (min-width: 1400px) {
  .wx94 {
    width: 94px;
  }
}
@media (min-width: 1400px) {
  .wx95 {
    width: 95px;
  }
}
@media (min-width: 1400px) {
  .wx96 {
    width: 96px;
  }
}
@media (min-width: 1400px) {
  .wx97 {
    width: 97px;
  }
}
@media (min-width: 1400px) {
  .wx98 {
    width: 98px;
  }
}
@media (min-width: 1400px) {
  .wx99 {
    width: 99px;
  }
}
@media (min-width: 1400px) {
  .wx100 {
    width: 100px;
  }
}